* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

header {
  height: 60px;
  border: 1px solid yellow;
}

.calculator-box {
  background: red;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.display {
  height: 100%;
  background-color: black;
  flex-shrink: 1;
}

.button-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 70px);
  background-color: #222;
}

.button-box button {
}
