* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

body {
  background-color: #000;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
}

header h2 {
  color: white;
  margin-left: 10px;
}

.applayout {
  position: relative;
  overflow: hidden;
}

.calculator-box {
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  width: 75%;
}

.display {
  height: 100%;
  background-color: black;
  flex-shrink: 1;
}

.button-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 50px);
  background-color: #222;
}

.button-box button {
  border: none;
  background-color: #2e2e2e;
  color: white;
  border: 1px solid #111;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.1s ease,
    box-shadow 0.1s ease;
}

/* Hover effect */
.button-box button:hover {
  background-color: #3c3c3c; /* Slightly lighter background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Active (touch) effect */
.button-box button:active {
  background-color: #4c4c4c; /* Even lighter background for active state */
  transform: scale(0.95); /* Slightly smaller to indicate pressing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
}

.operator {
  background-color: #202024 !important;
  color: #c8a900 !important;
}

.equal-btn {
  grid-column: 4/5;
  grid-row: 4/6;
  color: #222 !important;
  background-color: #c8a900 !important;
}

.operator:hover,
.equal-btn:hover {
  background-color: #3c3c3c; /* Slightly lighter background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.operator:active,
.equal-btn:active {
  background-color: #4c4c4c; /* Even lighter background for active state */
  transform: scale(0.95); /* Slightly smaller to indicate pressing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  background-color: #000;
  height: 100%;
  transform: translateX(320px);
  transition: all 0.5s;
  padding: 15px 10px;
}

.sidebar.show {
  transform: translateX(0px);
}

.sidebar h2 {
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.close {
  display: none;
  cursor: pointer;
}

.action-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 0px 10px;
}

.clear-btn {
  background-color: yellow;
  display: flex;
  border-radius: 15px;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
  .sidebar.show {
    width: 100%;
    transform: translateX(0);
  }

  .calculator-box {
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .close {
    display: block;
  }

  .display {
    height: 80%;
    background-color: #000;
  }
}

/* Small screens - MOBILE */
@media only screen {
} /* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
} /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xlarge screens */

/*------------------------------------------*/

/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */
}

/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation: portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation: landscape) {
}
